{% extends 'idc/main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/home.css'%}">
{% endblock %}

{% block content %}
    <!-- <img src="{% static 'css/images/landingpag1.png' %}" alt="" id="bg"> -->
    <div id="home">
        <div id="landing-text">
            <div id="landing-pic">    
                <img src="{% static 'css/images/left.png' %}" alt="nothng" id="left">
            </div>
            <div id="large-text">
                <h1 class="large-text-heading">Throwing the<br></h1>
                <h1 class="large-text-heading">tediousness out<br></h1>
                <h1 class="large-text-heading">of memorization</h1>
                <!-- <h1 id="large-text-heading">Saving Time...</h1>
                <h1 id="large-text-heading">Digitalizing...</h1> -->
            </div>
        </div>
    </div>
{% endblock %}

