{% extends 'idc/main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/home.css'%}">
{% endblock %}

{% block content %}
    <!-- <img src="{% static 'css/images/landingpag1.png' %}" alt="" id="bg"> -->
    <div id="wrapper">
        <div id="landing-text">
            <div id="large-text">
                <h1 class="large-text-heading one">Changing the way<br> memorization works</h1>
            </div>
            <div id="landing-pic">    
                <img src="{% static 'css/images/left.png' %}" alt="nothng" id="left">
            </div>
        </div>
        <div id="testimonials">
            <div id="productpic">
                <img src="{% static 'css/images/note.png' %}" alt="image" id="covertestimonials">
            </div>
            <div id="producttext">
                <h2>Take your notes. <br> Upload them onto the dialog. <br>Recieve notes with keywords blanked. <br> Fill it in to learn! </h2>
            </div>
        </div>
        <div id="product">
            <img src="{% static 'css/images/section2home.png' %}" alt="image" id="covertestimonials">
            <div class="ttext"><h1>hi</h1></div>
            <div class="ttext"><h1>hi</h1></div>
            <div class="ttext"><h1>hi</h1></div>
        </div>
    </div>
{% endblock %}

