
<div id="navbar">    
    <h1 id="name">Blanqie</h1>
    <div class="menucontain bracketleft">
        {
    </div>
    <ul>   
        <!-- <li class="menucontain">{</li> -->
        <li class="button"><a href="">Home</a></li>
        <li class="button"><a href="">Learn</a></li>
        <li class="button"><a href="">Test</a></li>
        <!-- <li class="menucontain">}</li> -->
    </ul>
    <div class="menucontain bracketright">
        }
    </div>
    <div class="menucontain bracketleft">
        {
    </div>
    <ul>   
        <!-- <li class="menucontain">{</li> -->
        <li class="userbutton"><a href="">Login</a></li>
        <li class="userbutton"><a href="">Sign Up</a></li>
        <!-- <li class="menucontain">}</li> -->
    </ul>
    <div class="menucontain bracketright">
        }
    </div>
</div>
