
<div id="navbar">    
    <div id="nav">
        <span id="name"><h1 id="name">Blanqie</h1></span>
        <span id="links">
            <span class="linkscontainer">{</span>
            <a href="{% url 'home' %}" class="button">Home</a>
            <a href="{% url 'learn' %}" class="button">Learn</a>
            <a href="{% url 'test' %}" class="button">Test</a>
            <span class="linkscontainer">}</span>  
        </span>
        <span id="userlinks">
            <span class="linkscontainer">{</span>
            <a href="" class="userbutton">Login</a>
            <a href="" class="userbutton">Signup</a>
            <span class="linkscontainer">}</span>    
        </span>
    </div>
</div>
