@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

:root {
    --navbg: rgb(99, 30, 74, 0.5);
    --linkcolour: #c93292;
    --usercolour: #a61b73;
    --navtextcolour: #ffffff;
}

svg {
    width: 100;
    height: 100;
}

head,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: proximity;
}

#navbar {
    position: sticky;
    height: 6rem;
    width: 100%;
    z-index: 3;
    font-family: 'Comfortaa', cursive;
    
}

#nav {
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    background-color: var(--navbg);
    border-bottom: 0.5em solid black;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

#name {
    font-size: 1.5em;
    display: inline;
    text-align: center;
    color: var(--navtextcolour);
    border-radius: 1.4em;
    height: fit-content;
    width: fit-content;
}

.button {
    background-color: var(--linkcolour);
    border-radius: 1.4em;
    /* border-right: 5px solid white; */
    font-size: 1.4em;
    text-decoration: none;
    color: var(--navtextcolour);
    padding: .8em;
}

.userbutton {
    background-color: var(--usercolour);
    border-radius: 1.4em;
    /* border-right: 5px solid white; */
    font-size: 1.4em;
    text-decoration: none;
    color: var(--navtextcolour);
    padding: .8em;

}


.linkscontainer {
    /* border-top: 5px solid white;
    border-bottom: 5px solid white; */
    font-size: 3em;
    color: var(--navtextcolour);
    /* margin-top: auto;
    margin-bottom: auto; */
    /* transform: rotate(-270deg); */
}

/* .bracketleft {
    margin-left: auto;
}

.bracketright {
    margin-right: auto;
} */

#main {
    position: relative;
}

#bg {
    width: 100%;
    height: auto;
    position: fixed;
}