@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

:root {
    --pacific-blue: #31bdd6ff;
    --ming: #167080ff;
    --sky-blue-crayola: #2ad6f5ff;
    --steel-teal: #50838cff;
    --sky-blue-crayola-2: #43c9e0ff;
}


head,
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #aef2f5;
}

#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
}

#navbar {
    position: fixed;
    height: 5rem;
    width: 100%;
    z-index: 3;
    font-family: 'Comfortaa', cursive;
}

#nav {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    background-color: #25989c;
    border-bottom: 10px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#name {
    font-size: 1.5em;
    display: inline;
    text-align: center;
    color: white;
    border-radius: 1.4em;
    height: fit-content;
    width: fit-content;
}

.button {
    background-color: teal;
    border-radius: 1.4em;
    /* border-right: 5px solid white; */
    font-size: 1.4em;
    text-decoration: none;
    color: white;
    padding: .8em;
}

.userbutton {
    background-color: #2fc1c6;
    border-radius: 1.4em;
    /* border-right: 5px solid white; */
    font-size: 1.4em;
    text-decoration: none;
    color: white;
    padding: .8em;

}


.linkscontainer {
    /* border-top: 5px solid white;
    border-bottom: 5px solid white; */
    font-size: 3em;
    color: white;
    /* margin-top: auto;
    margin-bottom: auto; */
    /* transform: rotate(-270deg); */
}

/* .bracketleft {
    margin-left: auto;
}

.bracketright {
    margin-right: auto;
} */

#main {
    position: relative;
    overflow: hidden;
}